{% extends 'base.html' %}
{% load static  %}
{% block content %}{% load crispy_forms_tags %}
<div style="width: 75%;align-items:center;justify-content:center;margin:1rem; border:1px solid grey">
    <h2 class="m-3" style="display:block;color:#348888">Login</h2>
    <hr>



<div class="w-100 m-2" >
    <form action="" method="post" style="color:#348888 ">
        {% csrf_token %} {{form|crispy}}
        <button type="submit" class="btn btn-danger mt-2">Login</button>
    </form>
</div>

{% endblock content %}